.img1{

    width: 80px;
    height: 50px;
    vertical-align: middle;
    margin: 10px;
}
.div1{ 
    margin-left: 100px;
    vertical-align: middle;
    margin: 2%, 10%, 3%;
    display: flex;
    justify-content: flex-start;
}
.div2{

display: flex;
align-items: center;
    gap: 25px;
    margin-left: 13%;
    
}
.h-1{

margin-top: 30px;
}
.h1{
    color: #8D81FF;

font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.h12{
    color: #4E6FAE;

font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.div3{
    width: 400px;
    height: 225px;
    transition: 3s;
}
.p-1{
    color: black;
}
.div3:hover{
    width: 700px;
    height: 180px;
}
.s-1{
    margin: 7% 13%;
    display: flex;
    position: relative;

}
.p{
    display: inline-block
}
.div4{
background-image: url(../images/3.jpg);
background-size: cover;
width: 110px;
height: 100px;
position: absolute;
right: 0%;
top: 0%;
margin-bottom: 50px;
}
.div5{
    width: 100px;
    height: 100px;
}
.p-2{

    margin-left: 30px;
}
.div6{
    width: 110px;
    height: 400px;
}
.img2{
    width: 100px;
    height: 60px;
    position: absolute;
    right: 0%;
    top: 200px;
}
.p-3{
    position: absolute;
    right: 20px;
    top: 260px;
}
.div8{
    width: 100px;
    height: 100px;
    background-image: url(../images/2.jpg);
    background-size: cover;
    position: absolute;
    right: 0px;
    top: 400px;
}
.p-4{
position: absolute;
right: 5px;
top: 500px;
}
.div9{
    position: absolute;
    left: 0%;
    top: 300px;
    width: 400px;
    height: 360px;
    transition: 3s;
}
.div9:hover{
    width: 700px;
    height: 212px;
}
.s-1{
    
    height: 600px;
}
.s-2{ 
    margin: 7% 13%;
    position: relative;

}
.img3{
    position: absolute;
    top: 150px;
    right: 50px;
    width: 400px;
    height: 400px; display: inline-block;  
} 
.div10{ 
      position: absolute;
    left: 50px;
    top: 150px;
    width: 400px;
    height: 300px;
    transition: 3s; 
    display: inline-block;
}
.div10:hover{
    width: 700px;
    height: 190px;
}
.div11{
    position: absolute;
    top: 500px;
    left: 50px;

    width: 300px;
    height: 300px;
    transition: 3s;
}

.div11:hover{
    width: 700px;
    height: 200px;
}
.h222{
    position: absolute;
    right: 200px;
    top: 550px;
}
.div13{
    width: 400px;
    height: 300px;
    position: relative;
    background-image: url(../images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0% 5% 5%;
}
.h111{
    font-size: large;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}
.p-7{
    position: absolute;
    top: 105%;
    color: red;
}
.pp{
    width: 400px;
    height: 100px;
}
.s-3{
    margin: 7% 4%;
    position: flex;
    display: flex;
    flex-wrap: wrap;
}
.div15{
    background-image: url(../images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 400px;
    height: 300px;
}
.diver{
    margin: 0% 5% 20%;
}
.div15{
    position: relative;
    right: 0%;
    margin: 0% 5% 20%;
}
.h345{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: white;
}
.p-8{
    
    position: absolute;
    color: red;
    top: 105%;
}
.div16{
    position: relative;
    background-image: url(../images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
}
.h333{
    position: absolute;
    top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
    font-size: large;  font-size: 40px;
    color: white;
}
.p-9{
    color: red;
    top: 105%;
    position: absolute;
    width: 400px;
}
.div17{
    position: relative;
    margin: 0% 5% 20%;
    background-image: url(../images/8.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
}
.h234{
    color: white;
    font-size: large; font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p-10{
    position: absolute;
    color: red;
    top: 105%;
}
.div18{
    position: relative;
    background-image: url(../images/9.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
}
.h-9{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.p-11{
    position: absolute;
    color: red;
    top: 105%;
}
.div19{
    position: relative;
    background-image: url(../images/10.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
}
.h-10{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.p-12{
    position: absolute;
    color: red;
    top: 105%;
}
.s-2{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.div20{
    background-image: url(../images/12.webp);
    width: 300px;
    height: 300px;background-size: cover;
    position: relative;
}
.h-2{
    position: absolute;color:white;font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.p-13{
    position: absolute;
    width: 300px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.div21{
    background-image: url(../images/12.jpg);background-size: cover;
    width: 300px;
    height: 300px;    position: relative;
}
.h-3{
    position: absolute;color:white;font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.p-14{
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.div22{
    background-image: url(../images/13.webp);
    width: 300px;background-size: cover;
    height: 300px;    position: relative;
}
.p-15{
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.div23{
    background-image: url(../images/14.jpg);
    width: 300px;
    height: 300px;    position: relative;background-size: cover;
}
.p-16{
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.div24{
    background-image: url(../images/11.jpg);
    width: 300px;
    height: 300px;    position: relative;background-size: cover;
}
.p-17{
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.div25{
    background-image: url(../images/121.webp);
    width: 300px;background-size: cover;
    height: 300px;    position: relative;
}
.p-18{
    position: absolute;
    width: 300px;
    top: 67%;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}
.s-5{
    margin: 5%;
}
*div{
    border: 2px solid red;
}
.s-5{
    margin: 5% 5% 800px;
}
.black{
    color: black;
}